.acercade{
    img{float: right;}
}

@media screen and (max-width: 760px){
    h3{text-align: center;}
    .acercade-container{text-align: center;}
   .acercade img{float: none;margin: 0 auto;}

    }           