<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Reescribe las URLs sin mostrar /pages/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ pages/$1 [L]
    </IfModule>