RewriteEngine On

# Redirigir permanentemente URLs con "page" al equivalente sin "page"
RewriteCond %{REQUEST_URI} ^/page/(.*)$
RewriteRule ^page/(.*)$ /$1 [L,R=301]

# Reescribir internamente cualquier URL sin "page" a la carpeta "page"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ page/$1 [L]

