.link{
    section{display: flex;
    .link-container{
        a{font-size: 30px;
            [class^="icon-"]::before{position: relative;top: 3px;color: #c4302b ;font-size: 35px;}    
        .link-name{margin-left: 5px;}}
    }
  } 
}
.div-container{flex: 2;}
.img-container{flex: 1;img{width: 100%;}}